 

<footer class="page-footer font-small pt-4" style="background-color: rgba(57, 57, 160, 0.671);">

    <div class="container d-flex justify-content-center">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> Siga-nos nas redes sociais</h4>

            </div>
        </div>
 
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row my-3">

            <div class="col-md-4">
                <a href="https://www.facebook.com" target="_blank">
                    <img class="redesSociais" src=" ..\assets\img\facebook.png" alt="">
                </a>
            </div>

            <div class="col-md-4">
                <a href="https://www.instagram.com" target="_blank">
                    <img class="redesSociais" src=" ..\assets\img\instagram.png" alt="">
                </a>
            </div>

            <div class="col-md-4">
                <a href="https://www.linkedin.com" target="_blank">
                    <img class="redesSociais" src=" ..\assets\img\linkedin.png" alt="">
                </a>
            </div>
        </div>
    </div>

 
    <div class="bg-dark text-center py-3">
        <span class="text-white">@ 2020 Copyright: brasil.generation.org</span>
    </div>
</footer>





