

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(57, 57, 160, 0.671);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center ">
          <li class="nav-item">
            <img src="{{foto}}" alt="" width="50px" height="50px" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item pl-3 ">
            <p class="m-0 font-weight-bold text-white"> {{nome}} </p>
          </li>

          <li class="nav-item pl-3">
                <button  [routerLink]="['/user-edit', id]" class="btn btn-secondary">Editar Perfil</button> 
      
          </li>

        </ul>

        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <button class="btn btn-secondary" (click)='sair()'> Sair</button>
 
        </ul>

        
      </div>
    </div>
  </nav>
